Problem 1 - Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [ ]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# 1. Create a DataFrame called 'fare' containing only the Fare column
fare = df[['Fare']]
print("Fare DataFrame:")
print(fare.head())  # Print the first 5 rows

# Sort the 'fare' DataFrame in descending order based on Fare
fare_sorted = fare.sort_values(by='Fare', ascending=False)
print("\nSorted Fare DataFrame (Descending Order):")
print(fare_sorted.head())

# 2. Create a DataFrame called 'class_age' containing only the Pclass and Age columns in that order
class_age = df[['Pclass', 'Age']]
print("\nClass and Age DataFrame:")
print(class_age.head())  # Print the first 5 rows

# Sort the 'class_age' DataFrame by Age in ascending order
class_age_sorted = class_age.sort_values(by='Age', ascending=True)
print("\nSorted Class and Age DataFrame (By Age Ascending):")
print(class_age_sorted.head())

# 3. Create a DataFrame called 'survived_gender' containing only the Survived and Sex columns in that order
survived_gender = df[['Survived', 'Sex']]
print("\nSurvived and Gender DataFrame:")
print(survived_gender.head())  # Print the first 5 rows

# Sort the 'survived_gender' DataFrame by Survived (ascending) and then by Sex (ascending)
survived_gender_sorted = survived_gender.sort_values(by=['Survived', 'Sex'], ascending=[True, True])
print("\nSorted Survived and Gender DataFrame (By Survived and Sex):")
print(survived_gender_sorted.head())

Fare DataFrame:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Sorted Fare DataFrame (Descending Order):
         Fare
258  512.3292
737  512.3292
679  512.3292
88   263.0000
27   263.0000

Class and Age DataFrame:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Sorted Class and Age DataFrame (By Age Ascending):
     Pclass   Age
803       3  0.42
755       2  0.67
644       3  0.75
469       3  0.75
78        2  0.83

Survived and Gender DataFrame:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Sorted Survived and Gender DataFrame (By Survived and Sex):
    Survived     Sex
14         0  female
18         0  female
24         0  female
38         0  female
40         0  female

Problem-2

Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# 1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100
fare_gt_100 = df[df['Fare'] > 100]
print("\nPassengers with Fare greater than 100:")
print(fare_gt_100.head())  # Displaying the first 5 rows for preview

# 2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1 (First Class)
first_class = df[df['Pclass'] == 1]
print("\nPassengers in First Class (Pclass = 1):")
print(first_class.head())  # Displaying the first 5 rows for preview

# 3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger is female
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print("\nFemale passengers under 18:")
print(female_under_18.head())  # Displaying the first 5 rows for preview

Passengers with Fare greater than 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

Passengers in First Class (Pclass = 1):
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

Female passengers under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [ ]:
import pandas as pd

# Load the Titanic dataset into a pandas DataFrame
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# 1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton)
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print("\nPassengers with Embarked port 'C' (Cherbourg) or 'S' (Southampton):")
print(embarked_c_or_s.head())  # Displaying the first 5 rows for preview

# 2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (First or Second Class)
first_second_class = df[df['Pclass'].isin([1, 2])]
print("\nPassengers in First or Second Class (Pclass = 1 or 2):")
print(first_second_class.head())  # Displaying the first 5 rows for preview

Passengers with Embarked port 'C' (Cherbourg) or 'S' (Southampton):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Passengers in First or Second Class (Pclass = 1 or 2):
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

3.2 Exploratory Data Analysis Practice

Which passenger had the highest fare paid relative to their age?

To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).
2. Subset rows where fare per year is higher than 5, assigning this to high fare age.
3. Sort high fare age by descending fare per year, assigning this to high fare age srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

In [ ]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# Step 1: Add a column 'fare per year', which is the Fare divided by Age
df['fare per year'] = df['Fare'] / df['Age']

# Step 2: Subset rows where fare per year is higher than 5
high_fare_age = df[df['fare per year'] > 5]

# Step 3: Sort high_fare_age by descending fare per year
high_fare_age_srt = high_fare_age.sort_values(by='fare per year', ascending=False)

# Step 4: Select only the Name and fare per year columns
result = high_fare_age_srt[['Name', 'fare per year']]

# Step 5: View the result
print(result.head())  # Displaying the first few rows of the result

                                Name  fare per year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
To answer the question perform following operations:
1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.
2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.
3. Sort adult males by descending fare per class, assigning this to adult males srt.
4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.
5. Look at the result.

In [ ]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# Step 1: Add a new column 'fare per class' which is Fare divided by Pclass
df['fare per class'] = df['Fare'] / df['Pclass']

# Step 2: Subset rows where the passenger is male and an adult (Age >= 18)
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

# Step 3: Sort adult males by descending 'fare per class'
adult_males_srt = adult_males.sort_values(by='fare per class', ascending=False)

# Step 4: Select only the 'Name', 'Age', and 'fare per class' columns
result = adult_males_srt[['Name', 'Age', 'fare per class']]

# Step 5: View the result
print(result.head())  # Display the first few rows of the result

                                   Name   Age  fare per class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

What percent of the total fare revenue came from each passenger class?

To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [ ]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# Step 1: Calculate the total fare paid across all passengers in the Titanic dataset
total_fare = df['Fare'].sum()

# Step 2: Subset for passengers in first class (Pclass = 1) and calculate their total fare
fare_first_class = df[df['Pclass'] == 1]['Fare'].sum()

# Step 3: Subset for passengers in second class (Pclass = 2) and calculate their total fare
fare_second_class = df[df['Pclass'] == 2]['Fare'].sum()

# Step 4: Subset for passengers in third class (Pclass = 3) and calculate their total fare
fare_third_class = df[df['Pclass'] == 3]['Fare'].sum()

# Step 5: Combine the fare totals from first, second, and third classes into a list
class_fare_totals = [fare_first_class, fare_second_class, fare_third_class]

# Step 6: Calculate the proportion of fare revenue from each class by dividing the class totals by the overall total fare
class_fare_percentages = [(fare / total_fare) * 100 for fare in class_fare_totals]

# Display the results
class_labels = ['First Class', 'Second Class', 'Third Class']
result = dict(zip(class_labels, class_fare_percentages))

print("Percentage of total fare revenue from each class:")
for class_name, percentage in result.items():
    print(f"{class_name}: {percentage:.2f}%")

Percentage of total fare revenue from each class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

To answer the question perform following operation:
1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage.

In [ ]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

# Step 1: Create a new column 'age group' based on the age of passengers
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age >= 18 and age < 65:
        return 'adult'
    else:
        return 'senior'

df['age group'] = df['Age'].apply(categorize_age)

# Step 2: Calculate the total number of passengers on the Titanic
total_passengers = df['Age'].notnull().sum()  # Count only non-null age entries

# Step 3: Count the number of passengers in each age group
age_group_counts = df['age group'].value_counts()

# Step 4: Calculate the proportion of passengers in each age group
age_group_percentages = (age_group_counts / total_passengers) * 100

# Step 5: Display the proportion as a percentage
print("Percentage of passengers in each age group:")
for group, percentage in age_group_percentages.items():
    print(f"{group.capitalize()}: {percentage:.2f}%")

Percentage of passengers in each age group:
Adult: 82.63%
Senior: 26.33%
Child: 15.83%